<div class="container p-3">
	<div class="card">
		<div class="card-body">
			<div class="row p-2">
				<h5 class="card-title font-weight-bold">Rechercher un client</h5>
				<div class="col-sm-12 col-sm-offset-2">
					<form>
						<div class="form-group">
							<label for="exampleFormControlSelect1">Civilité</label>
							<select class="form-control" id="exampleFormControlSelect1">
								<option>Monsieur</option>
								<option>Madame</option>
							</select>
						</div>
						<div class="form-group">
							<label for="name">
								Nom
							</label>
							<input type="text" id="name" class="form-control">
						</div>
						<div class="form-group">
							<label for="name">
								Prénom
							</label>
							<input type="text" id="name" class="form-control">
						</div>
						<div class="form-group">
							<label for="name">
								Date de naissance
							</label>
							<input type="date" id="name" class="form-control">
						</div>
						<div class="form-group row">
							<div class="col text-right">
								<button type="submit" class="btn btn-primary">Rechercher</button>
							</div>
						</div>
					</form>
				</div>
			</div> <!-- card.// -->
		</div>
	</div>