<div class="text-center">
	<button type="button" class="btn" data-toggle="modal" [attr.data-target]="dataTargetDocument">
		<img src=" data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABAAAAAQCAQAAAC1+jfqAAAABGdBTUEAALGPC/xhBQAAACBjSFJNAAB6JgAAgIQAAPoAAACA6AAAdTAAAOpgAAA6mAAAF3CculE8AAAAAmJLR0QAAKqNIzIAAAAJcEhZcwAADdcAAA3XAUIom3gAAAAHdElNRQfjBgUTCw1nv35BAAABCElEQVQoz3XRvyvEcRzH8cedTxLKr+TXRSx+ZLCzGq6uSDfYpKz+FhZGmQwyEEkRG5NVnK86kYT8yEDCGcg3nNf4er56vd71prhqjdmzqiOoMKROEkf2XYMGo4aNqzaTNK3SqUjkwhNoktFl2aQr9QmbJtyBFy/etUhrtOhZRtZaUOLW4/d2SlqNJSeatdu1EH6clpJWYV0kZcS5FZfhFy6z7VCrtDfr8iS/cbmsZrsOdBjEhgjihnbdngSd+gWbcp92HOhzrE3Wgztbcgjq3ccTPUrlVSnYcgTKDGiKG26kROYcuv9ySvU6iwNTxZ+SlPC/gregoBqFPzChSqPrYNa8QtHAqx35D6omR+IpWKd7AAAAJXRFWHRkYXRlOmNyZWF0ZQAyMDE5LTA2LTA1VDE3OjExOjEzKzAyOjAwquxKUgAAACV0RVh0ZGF0ZTptb2RpZnkAMjAxOS0wNi0wNVQxNzoxMToxMyswMjowMNux8u4AAAAZdEVYdFNvZnR3YXJlAHd3dy5pbmtzY2FwZS5vcmeb7jwaAAAAAElFTkSuQmCC"
			alt="">
	</button>

</div>

<div class="modal fade" [attr.id]="modalIdDocument" tabindex="-1" role="dialog" aria-labelledby="purchaseLabel" aria-hidden="true">
	<div class="modal-dialog modal-lg">
		<div class="modal-content">
			<div class="modal-header">
				<div class="row p-2">
					<h5 class="modal-title align-content-center font-weight-bold">Modifier un document</h5>
				</div>
				<button type="button" class="close" data-dismiss="modal" aria-label="Close">
					<span aria-hidden="true">&times;</span>
				</button>
			</div>
			<div class="modal-body">
				<div class="card">
					<div class="card-body">
						<div class="row">
							<div class="col-sm-12 col-sm-offset-2">
								<form>
									<div class="form-group">
										<label for="exampleFormControlSelect1">Statut du document</label>
										<select class="form-control" id="exampleFormControlSelect1"
											placeholder="statut du document">
											<option>Conforme</option>
											<option>Non Conforme</option>
											<option>A vérifier</option>
										</select>
									</div>
									<div class="form-group">
										<label for="expiryDate">
											Date d'expiration
										</label>
										<input type="date" id="name" class="form-control">
									</div>
									<div class="form-group row">
										<div class="col text-right">
											<button type="submit" class="btn btn-primary">Modifier le document</button>
										</div>
									</div>
								</form>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>