<div class="container">
	<div class="row">
		<div class="col-md-auto">
			<a href="./rechercher-client/">
				<button class="btn btn-primary btn-sm">Rechercher un client</button>
			</a>
		</div>
		<div class="col-md-auto">
			<a href="./nouveau-client/">
				<button class="btn btn-primary btn-sm">Ajouter un client (old)</button>
			</a>
		</div>
		<div class="col-md-auto">
			<a href="./dossier-client/">
				<button class="btn btn-primary btn-sm">Page dossier client</button>
			</a>
		</div>
	</div>
</div>