<div class="container p-3">
	<div class="card">
		<div class="card-body">
			<div class="row p-2">
				<h5 class="card-title font-weight-bold">Certificats</h5>
			</div>
			<table class="table table-hover table-striped table-sm">
				<thead class="">
					<tr>
						<th scope="col">Statut</th>
						<th scope="col">Maintenu?</th>
						<th scope="col">Initié par</th>
						<th scope="col">Date de création</th>
						<th class="text-center">Consulter</th>
					</tr>
				</thead>
				<tbody>
					<tr>
						<td>Ouvert</td>
						<td>Oui</td>
						<td>Zinédine Zidane</td>
						<td>14/06/1993</td>
						<td>
							<app-consulter-certificat></app-consulter-certificat>
						</td>
					</tr>
				</tbody>
			</table>
		</div>
	</div>


	<div class="card-footer">
		<app-creation-certificat></app-creation-certificat>
	</div>
</div>