
      
      <FORM  class="x1" >
        <td class="x2">  {{docname()}} </td>
        <td class="b4">  {{docdateA()}} </td>
        <td class="x4">  {{docstatut()}} </td>
        <td class="x5">  {{docdateE()}} </td>
        <td class="x6"><a href=""><img
          src="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABAAAAAQCAQAAAC1+jfqAAAABGdBTUEAALGPC/xhBQAAACBjSFJNAAB6JgAAgIQAAPoAAACA6AAAdTAAAOpgAAA6mAAAF3CculE8AAAAAmJLR0QAAKqNIzIAAAAJcEhZcwAADsQAAA7EAZUrDhsAAAAHdElNRQfjBgUOHA+YzKvYAAAAoklEQVQoz8WQMQ6CQBBF325cQ2ejB9jeG2hBSLS14BZW3oYTaGKlJ5CK2FkR7wDGCAmVDTYbs7siLVPN/HmZ/Pnglka7gvSAmNgVRh4gvPnnAoMAunc/lWSmXbJHAaA4sDDqTX4fzXhxYoziSMPVqAGUVgYJFRWJlUZpB9Wy5Q3saG0bRY9FQSG5s/oLrMkFc86kPLteJGQjgAkRsw7gwYX6A17QHGHqE0lVAAAAJXRFWHRkYXRlOmNyZWF0ZQAyMDE5LTA2LTA1VDEyOjI4OjE1KzAyOjAwseSBsAAAACV0RVh0ZGF0ZTptb2RpZnkAMjAxOS0wNi0wNVQxMjoyODoxNSswMjowMMC5OQwAAAAZdEVYdFNvZnR3YXJlAHd3dy5pbmtzY2FwZS5vcmeb7jwaAAAAAElFTkSuQmCC"
          alt=""></a></td>
        <td class="x7">							<app-modify-document></app-modify-document>
        </td>
    </FORM>
	
	
		
      
      
      
      
      
      
      
      
      
      
      
      