<div class="container p-3">
	<div class="card" style="">
		<div class="card-body">
			<div class="row p-2 border-bottom">
				<h5 class="card-title font-weight-bold">Informations Client</h5>

			</div>
			<div class="row  p-2">
					<div class="col-sm-5  font-weight-bold">Civilité</div>
					<div class="col ">{{civil()}}</div>
				</div>
			<div class="row  p-2">
				<div class="col-sm-5  font-weight-bold">Nom</div>
				<div class="col ">{{nom()}}</div>
			</div>
			<div class="row  p-2">
				<div class="col-sm-5  font-weight-bold">Prénom</div>
				<div class="col ">{{prenom()}}</div>
			</div>
			<div class="row  p-2">
				<div class="col-sm-5  font-weight-bold">Date de naissance</div>
				<div class="col ">{{datedenaissance()}}</div>
			</div>
			<div class="row  p-2">
					<div class="col-sm-5  font-weight-bold">Lieu de naissance</div>
					<div class="col ">{{lieudenaissance()}}</div>
				</div>
				<div class="row  p-2">
						<div class="col-sm-5  font-weight-bold">Adresse postale</div>
						<div class="col ">{{adressepostale()}}</div>
					</div>
		</div>
	</div> <!-- card.// -->
</div>