<div class="container p-3">
	<div class="card" style="">
		<div class="card-body">
			<div class="row p-2 border-bottom">
				<h5 class="card-title font-weight-bold">Informations Client</h5>

			</div>
			<div class="row  p-2">
				<div class="col-sm-5  font-weight-bold">Civilité</div>
				<div class="col ">Monsieur</div>
			</div>
			<div class="row  p-2">
				<div class="col-sm-5  font-weight-bold">Nom</div>
				<div class="col ">Jean</div>
			</div>
			<div class="row  p-2">
				<div class="col-sm-5  font-weight-bold">Prénom</div>
				<div class="col ">38000</div>
			</div>
			<div class="row  p-2">
				<div class="col-sm-5  font-weight-bold">Date de naissance</div>
				<div class="col ">38000</div>
			</div>
		</div>
	</div> <!-- card.// -->
</div>