<div class="container p-3">
	<div class="card">
		<div class="card-body">
			<div class="row p-2">
				<h5 class="card-title font-weight-bold">Documents relatifs au client (autres entités)</h5>
			</div>
			<table class="table table-hover table-striped table-sm">
				<thead class="">
					<tr>
						<th scope="col">Type de document</th>
						<th scope="col">Date de création</th>
						<th scope="col">Statut</th>
						<th scope="col">Date d'expiration</th>
						<th scope="col">Ajouté par</th>
						<th class="text-center">Télécharger</th>
					</tr>
				</thead>
				<tbody>
					<tr>

						<td>M.</td>
						<td>Eddy</td>
						<td>dédé</td>
						<td>14/06/1993</td>
						<td>BPCEA</td>
						<td align="center">
							<a href=""><img
									src="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABAAAAAQCAQAAAC1+jfqAAAABGdBTUEAALGPC/xhBQAAACBjSFJNAAB6JgAAgIQAAPoAAACA6AAAdTAAAOpgAAA6mAAAF3CculE8AAAAAmJLR0QAAKqNIzIAAAAJcEhZcwAADsQAAA7EAZUrDhsAAAAHdElNRQfjBgUOHA+YzKvYAAAAoklEQVQoz8WQMQ6CQBBF325cQ2ejB9jeG2hBSLS14BZW3oYTaGKlJ5CK2FkR7wDGCAmVDTYbs7siLVPN/HmZ/Pnglka7gvSAmNgVRh4gvPnnAoMAunc/lWSmXbJHAaA4sDDqTX4fzXhxYoziSMPVqAGUVgYJFRWJlUZpB9Wy5Q3saG0bRY9FQSG5s/oLrMkFc86kPLteJGQjgAkRsw7gwYX6A17QHGHqE0lVAAAAJXRFWHRkYXRlOmNyZWF0ZQAyMDE5LTA2LTA1VDEyOjI4OjE1KzAyOjAwseSBsAAAACV0RVh0ZGF0ZTptb2RpZnkAMjAxOS0wNi0wNVQxMjoyODoxNSswMjowMMC5OQwAAAAZdEVYdFNvZnR3YXJlAHd3dy5pbmtzY2FwZS5vcmeb7jwaAAAAAElFTkSuQmCC"
									alt=""></a>
						</td>
					</tr>
					<tr>

						<td>M.</td>
						<td>Eddy</td>
						<td>dédé</td>
						<td>14/06/1993</td>
						<td>BPCEA</td>
						<td align="center">
							<a href=""><img
									src="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABAAAAAQCAQAAAC1+jfqAAAABGdBTUEAALGPC/xhBQAAACBjSFJNAAB6JgAAgIQAAPoAAACA6AAAdTAAAOpgAAA6mAAAF3CculE8AAAAAmJLR0QAAKqNIzIAAAAJcEhZcwAADsQAAA7EAZUrDhsAAAAHdElNRQfjBgUOHA+YzKvYAAAAoklEQVQoz8WQMQ6CQBBF325cQ2ejB9jeG2hBSLS14BZW3oYTaGKlJ5CK2FkR7wDGCAmVDTYbs7siLVPN/HmZ/Pnglka7gvSAmNgVRh4gvPnnAoMAunc/lWSmXbJHAaA4sDDqTX4fzXhxYoziSMPVqAGUVgYJFRWJlUZpB9Wy5Q3saG0bRY9FQSG5s/oLrMkFc86kPLteJGQjgAkRsw7gwYX6A17QHGHqE0lVAAAAJXRFWHRkYXRlOmNyZWF0ZQAyMDE5LTA2LTA1VDEyOjI4OjE1KzAyOjAwseSBsAAAACV0RVh0ZGF0ZTptb2RpZnkAMjAxOS0wNi0wNVQxMjoyODoxNSswMjowMMC5OQwAAAAZdEVYdFNvZnR3YXJlAHd3dy5pbmtzY2FwZS5vcmeb7jwaAAAAAElFTkSuQmCC"
									alt=""></a>

						</td>
					</tr>
				</tbody>
			</table>
		</div>
	</div>



</div>