<div class="text-right">
	<button type="button" class="btn btn-sm btn-primary" data-toggle="modal" data-target="#myModal">Créer un nouveau
		certificat</button>

</div>

<div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="purchaseLabel" aria-hidden="true">
	<div class="modal-dialog modal-lg">
		<div class="modal-content">
			<div class="modal-header">
				<div class="row p-2">
					<h5 class="modal-title align-content-center font-weight-bold">Créer un nouveau certificat</h5>
				</div>
				<button type="button" class="close" data-dismiss="modal" aria-label="Close">
					<span aria-hidden="true">&times;</span>
				</button>
			</div>
			<div class="modal-body">
				<div class="card">
					<div class="card-body">
						<div class="row">
							<div class="col-sm-12 col-sm-offset-2">
								<form (ngSubmit)="onSubmit(f)" #f="ngForm">
									<div class="form-group">
										<label for="profil">Profil de risque</label>
										<select class="form-control" id="profil" name="profil" ngModel required>
											<option value="Low">Low</option>
											<option value="Medium">Medium</option>
											<option value="High">High</option>
										</select>
									</div>
									
								
									<div class="form-group">
										<label>Date de péremption</label>
										<div class="col-sm-10">
											<input type="date"  class="form-control" id="dateE"	name="dateE"  ngModel required >
										
										</div>
									</div>
									<div class="form-group row">
										<div class="col-sm-2">Documents</div>
										<div class="col-sm-10">
												
											<div *ngFor="let doc of documentsname; let i = index" class="form-check">
												<input   class="form-check-input"
												 type="checkbox" id="gridCheck1">
												<label class="form-check-label" for="gridCheck1">
													{{doc}}
												</label>
											</div>
											
										</div>
									</div>
									
									<div class="form-group">
										<label for="com">
											Commentaire
										</label>
										<input type="text" id="com" name="com" class="form-control"  ngModel required>
									</div>
									<div class="form-group row">
										<div class="col text-right">
											<button type="submit" [disabled]="f.invalid" class="btn btn-primary">Créer le certificat</button>
										</div>
									</div>
								</form>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>